<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="faculty/blank::layout(~{::section})">
<head  >   
</head>
<body>
    

                
              <section>    
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

 <div class="card mr-3 ml-3">
        <div class="card-body">
            <h1 class="text-center">Add Feed Back</h1>
            <div class="container-fluid mt-1">
                 <div class="col-md-10 offset-md-1">
			                 <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert " role="alert">
								  <p class="text-center" th:text="${session.message.content}"></p>
								  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
							  </div>
			                <div class="container text-center">
			                    <img style="width:80px;" th:src="@{/img/registration.png}" alt="" />
			                   
			                </div>
                     <form action="#"
                          th:object="${feedback}"
                          enctype="multipart/form-data"
                          method="POST"
                          th:action="@{/faculty/process-feedback}"
                          class="mt-2">
                     
                     <!-- Title -->
                         <div class="input-group">
                              <div class="input-group-prepend">
                                  <div class="input-group-text">
                                    <i class="fa fa-plus"></i>
                                  </div>
                              </div>
                              <input type="text" id="nameoffeed" name="nameoffeed" placeholder="Enter nameoffeed here"  class="form-control" required/>
                         </div>
                       
                         <div class="form-group mt-3">
						    <!-- <label for="approvedBy" class="col-form-label">Cours Chair: </label> -->
							    <select class="custom-select"  required id="approvedBy" name="approvedBy">
							       <option  value="">---SELECT COURS CHAIR---</option>			    
							       <option th:each="r : ${userss}"
								        th:value="${r.id}"
								        th:text="${r.name}">
								   </option>
							    </select>				    
						  </div>
    
  
  
  
                       
                       <!-- Contact Description -->
                         <div class="form-group mt-3">
                              <textarea id="mytextarea" name="description"  placeholder="Enter Description here" class="form-control" rows="10"></textarea>
                              
                         </div>
                         
       <div class="form-group">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="iass1" name="iass" class="custom-control-input" value="1" >
                <label class="custom-control-label" for="iass1">Option1</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="iass2" name="iass" class="custom-control-input" value="2" >
                <label class="custom-control-label" for="iass2">Option2</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="iass3" name="iass" class="custom-control-input" value="3" >
                <label class="custom-control-label" for="iass3">Option3</label>
            </div>
        </div>
                     
                     
                         <div class="container text-center">
                            <button class="btn btn-outline-primary">Save Contact</button>
                         </div>
                     
                     
                     </form>
                 
                 </div>
            </div>
        </div>
    </div>
	
	
	<script th:src="@{/tinymce/tinymce.min.js}"></script>	
    <script>tinymce.init({ selector:'textarea'});</script>	
    
    
    




















                        
                    </div>


                </div>
                <!-- /.container-fluid -->
              </section>  
                
       
</body>
</html>