<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="faculty/blank::layout(~{::section})">
<head>
</head>
<body>



	<section>



		<style>
.col-md-half { @extend .col-md-1;
	width: 4.166666667%;
}

.col-md-4-half { @extend .col-md-9;
	width: 37.5%;
}
</style>



		<div class="container-fluid px-3 my-0">


			<div th:if="${session.message}" id="hideDiv"
				th:classappend="${session.message.type}" class="alert " role="alert">
				<p class="text-center" th:text="${session.message.content}"></p>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>

			<div class="card shadow mb-4">
				<div class="card-header py-1">
					<a type="button" class="btn btn-success btn-sm"
						th:href="@{/orderLab/show_myCartLab}"><i
						class="fas fa-arrow-alt-circle-left"></i> Back </a>
				</div>
				<div class="card-body">










					<div class="row text-center  my-1  h-100 align-items-center">
						<h4>
							<b>Work Shop/Lab Course Following-Up Checklist:-</b>
						</h4>
						<span><p class="pt-2 pr-2">To be filled by
								Technical/Lab Assistant</p></span>
					</div>
					<div class="row  my-2 h-100 align-items-center">
						<div class="col-md-7 form-inline px-0">
							<label class="" for="inlineFormCustomSelectPrefa">Faculty:</label>
							<div class="col-md-8 mb-1" id="inlineFormCustomSelectPrefa"
								style="border-bottom: 1px solid currentColor;">FMIE</div>
						</div>
						<div class="col-md-5 px-0">
							<div class="radio-pillbox">
								<radiogroup>
								<div class="col-md-1 px-0"
									style="border: 1px solid currentColor; border-style: dotted;">
									<input type="radio" name="bam" id="easy1" value="1" disabled
										class="first" th:checked="${instaOrders.bam == 1} "
										th:field="${instaOrders.bam}"> <label for="easy1"
										class="radio-label"></label>
								</div>
								<label for="easy1" class="radio-label"> &nbsp;
									&nbsp;Before Mid Exam: </label>
								<div class="col-md-1 px-0"
									style="border: 1px solid currentColor; border-style: dotted;">
									<input type="radio" name="bam" id="tricky2" value="2" disabled
										class="first" th:checked="${instaOrders.bam == 2} "
										th:field="${instaOrders.bam}"> <label for="tricky2"
										class="radio-label"></label>
								</div>
								<label for="tricky2" class="radio-label"> &nbsp;
									&nbsp;After Mid Exam: </label> </radiogroup>
							</div>
						</div>
					</div>
					<div class="row   my-2 h-100 align-items-center">
						<label class="" for="inlineFormCustomSelectPref">Academic
							Year:</label>
						<div class="col-md-2 mb-2 px-2" id="inlineFormCustomSelectPref"
							style="border-bottom: 1px solid currentColor;">
							<span th:text="${instaOrders.ayear}"></span>
						</div>

						<label class="" for="inlineFormCustomSelectPref2">Semester:</label>
						<div class="col-md-2 mb-2 px-2" id="inlineFormCustomSelectPref2"
							style="border-bottom: 1px solid currentColor;">
							<span th:text="${instaOrders.semester.name}"></span>
						</div>

						<label class="" for="inlineFormCustomSelectPref3">Year:</label>
						<div class="col-md-2 mb-2 px-2" id="inlineFormCustomSelectPref3"
							style="border-bottom: 1px solid currentColor;">
							
							<span th:utext="${instaOrders.year.name}"></span>
						</div>

						<label class="" for="inlineFormCustomSelectPref4">Section:</label>
						<div class="col-md-1 mb-2 px-2" id="inlineFormCustomSelectPref4"
							style="border-bottom: 1px solid currentColor;">

							<span th:text="${instaOrders.section}"></span>

						</div>
						<label class="" for="inlineFormCustomSelectPref">Group:</label>
						<div class="col-md-1 mb-2 px-2" id="inlineFormCustomSelectPref5"
							style="border-bottom: 1px solid currentColor;">
							<span th:text="${instaOrders.grou}"></span>
						</div>
					</div>

					<div class="row my-2">
						<div class="radio-pillbox">
							<radiogroup> <b><h5>Program</h5></b> &nbsp;
							&nbsp;&nbsp; &nbsp;
							<div class="col-md-1 px-0"
								style="border: 1px solid currentColor; border-style: dotted;">
								<input type="radio" name="prog" id="easy12" value="1" disabled
									class="first" th:checked="${instaOrders.prog == 1} "
									th:field="${instaOrders.prog}"> <label for="easy12"
									class="radio-label"></label>
							</div>
							<label for="easy" class="radio-label"> &nbsp;
								&nbsp;Regular: </label>

							<div class="col-md-1 px-0"
								style="border: 1px solid currentColor; border-style: dotted;">
								<input type="radio" name="prog" id="easy22" value="2" disabled
									class="first" th:checked="${instaOrders.prog == 2} "
									th:field="${instaOrders.prog}"> <label for="easy22"
									class="radio-label"></label>
							</div>
							<label for="tricky" class="radio-label"> &nbsp;
								&nbsp;Extension: </label>

							<div class="col-md-1 px-0"
								style="border: 1px solid currentColor; border-style: dotted;">
								<input type="radio" name="prog" id="easy32" value="3" disabled
									class="first" th:checked="${instaOrders.prog == 3} "
									th:field="${instaOrders.prog}"> <label for="easy32"
									class="radio-label"></label>
							</div>
							<label for="sum" class="radio-label"> &nbsp;
								&nbsp;Summer: </label> </radiogroup>
						</div>
					</div>






					<div class="row   my-2 h-100 align-items-center"
						th:each="i,status : ${instaOrders}"
						th:with="coursout= ${i.coursout}">


						<label class="" for="inlineFormCustomSelectPref">Course
							name:</label>
						<div class="col-md-5 mb-2 px-2" id="inlineFormCustomSelectPref"
							style="border-bottom: 1px solid currentColor;">
							<span th:text="${coursout.title}"></span>
						</div>

						<label class="" for="inlineFormCustomSelectPref2">Course
							Code:</label>
						<div class="col-md-3 mb-2 px-2" id="inlineFormCustomSelectPref2"
							style="border-bottom: 1px solid currentColor;">
							<span th:text="${coursout.ccode}"></span>
						</div>

					</div>

					<div class="row ">
						<div class="col-md-half  px-0 "></div>
						<div class="col-md-11 px-0 text-right">
							<a type="button" data-toggle="modal" data-target="#addLabModal"
								th:onclick="'javascript:Values('+${instaOrders.id}+')'"
								class="btn btn-success btn-sm"><i class="fas fa-plus-circle"></i>
								New Lab</a>
						</div>
						<div class="col-md-half  px-0 "></div>
					</div>



					<div class="row text-center   px-0">
						<div class="col-md-1  px-0 " style="border: 1px solid #858796;">
							<div class="row text-center   h-100 align-items-center ">
								<div class="col-md-12 col-sm-12 ">Weeks</div>
							</div>
						</div>
						<div class="col-md-4-half px-0 justify-content-center"
							style="border: 1px solid #858796;">
							<div class="row text-center   h-100 align-items-center ">


								<div class="col-md-12 col-sm-12 ">Lab/Test/Session Name</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="row p-3" style="border: 1px solid #858796;">

								<div class="col-md-12 col-sm-12">Signature(every session)</div>


							</div>
							<div class="row">
								<div class="col-md-4 px-0" style="border: 1px solid #858796;">
									<div class="row text-center   h-100 align-items-center ">
										<div class="col-md-12 col-sm-12">Instructor</div>
									</div>
								</div>
								<div class="col-md-4 px-0" style="border: 1px solid #858796;">
									<div class="row text-center   h-100 align-items-center ">
										<div class="col-md-12 col-sm-12 ">Technical/Lab
											Assistant</div>
									</div>
								</div>
								<div class="col-md-4 px-0" style="border: 1px solid #858796;">
									<div class="row text-center   h-100 align-items-center ">
										<div class="col-md-12 col-sm-12 ">Student/Section
											Representative's</div>
									</div>
								</div>

							</div>
						</div>
						<div class="col-md-1 pt-4" style="border: 1px solid #858796;">
							<div class="row text-center   h-100 align-items-center ">
								<div class="col-md-12 col-sm-12 ">Remark</div>
							</div>
						</div>
					</div>












					<div class="row text-center   px-0"
						th:each="i,status : ${orderDetailes}">
						<div class="col-md-1  px-0 "
							style="text-align: center; border: 1px solid #858796;">
							<div class="row text-center   h-100 align-items-center ">

								<div class="col-md-12 col-sm-12 px-0 mx-0">
									<span th:text="${i.week}"></span>
								</div>
							</div>
						</div>
						<div class="col-md-4-half px-0 justify-content-center"
							style="border: 1px solid #858796;">
							<div class="row text-center   h-100 align-items-center ">
								<div class="col-md-12 col-sm-12 ">
									<span th:text="${i.lname}"></span>
								</div>
							</div>
						</div>

						<div class="col-md-5" style="border: 1px solid #858796;">
							<div class="row text-center  h-100 px-0">
								<div class="col-md-4  px-0 pt-1"
									style="text-align: center; border-right: 1px solid #858796;">
									<div class="row text-center   h-100 align-items-center ">
										<div class="col-md-12 col-sm-12 mt-1"
											th:if="${i.instrac}=='p'">
											<a th:onclick="|SigniLabForInsta(${i.id})|" 
											class="btn  btn-block text-success  p-0 m-0"><i
												class="fas fa-check-circle "></i> </a>

										</div>
										<div class="col-md-12 col-sm-12 px-2 "
											th:if="${i.instrac}== null">
											<a th:onclick="|SigniLabForInsta(${i.id})|"
												class="btn  btn-block text-danger  p-0 m-0"><i
												class="fas fa-times-circle "></i> </a>

										</div>
									</div>
								</div>
								
								
								 
								
								<div class="col-md-4 px-0 "
									style="border-right: 1px solid #858796;">
									<div class="row text-center   h-100 align-items-center ">

										<div class="col-md-12 col-sm-12 mt-1"
											th:if="${i.assista}=='p'">
											<a th:onclick="|SigniLabForAssis(${i.id})|" 
											class="btn  btn-block text-success  p-0 m-0"><i
												class="fas fa-check-circle "></i> </a>
										</div>
										
										<div class="col-md-12 col-sm-12 px-2 "
											th:if="${i.assista}== null">
											<a th:onclick="|SigniLabForAssis(${i.id})|"
												class="btn  btn-block text-danger"><i
												class="fas fa-times-circle "></i> </a>

										</div>
									</div>
								</div>
								
								 
								
								
								<div class="col-md-4 px-0 py-0 my-0">
									<div
										class="row text-center py-0 my-0 h-100 align-items-center ">
										<div class="col-md-12 col-sm-12 mt-1"
											th:if="${i.student}=='p'">
											<a th:onclick="|SigniLabForStu(${i.id})|" 
											class="btn  btn-block text-success  p-0 m-0"><i
												class="fas fa-check-circle "></i> </a>

										</div>
										<div class="col-md-12 col-sm-12 px-3 py-0 my-0 "
											th:if="${i.student}== null">
											<a th:onclick="|SigniLabForStu(${i.id})|"
												class="btn  btn-block text-danger  p-0 m-0"><i
												class="fas fa-times-circle "></i> </a>

										</div>
									</div>
								</div>

							</div>










						</div>
						<div class="col-md-1 px-0" style="border: 1px solid #858796;">
							<div class="row text-center   h-100 align-items-center ">
								<div class="col-md-12 col-sm-12 ">
									<span th:text="${i.rema}"></span>
								</div>
							</div>
						</div>
						<div class="col-md-half px-0">
							<div class="row text-center   h-100 align-items-center ">
								<div class="col-md-12 col-sm-12 pl-0">
									<a th:onclick="|deleteCartsLab(${i.id})|"
										class="pl-0 text-success" id="deleteButtonnnLab"><i
										class="fas fa-trash"></i></a>

								</div>
							</div>
						</div>
					</div>
					<br> <br /> <br> <br /> <br> <br />









					<div class="row" th:if="${instaOrders.data}=='oncart'"
						sec:authorize="hasAuthority('ASSISTANT')">
						<div class="col-md-12">
							<form action="#" enctype="multipart/form-data" method="POST"
								th:action="@{/orderLab/process-LabOrdered}">
								<input type="hidden" th:value="${instaOrders.id}" name="id" />
								<input type="hidden" th:value="${instaOrders.ayear}"
									name="ayear" /> <input type="hidden"
									th:value="${instaOrders.bam}" name="bam" /> <input
									type="hidden" th:value="${instaOrders.coursoutid}"
									name="coursoutid" /> <input type="hidden"
									th:value="${instaOrders.grou}" name="grou" /> <input
									type="hidden" th:value="${instaOrders.prog}" name="prog" /> <input
									type="hidden" th:value="${instaOrders.section}" name="section" />
								    <input type="hidden" th:value="${instaOrders.semesterid}"
									name="semesterid" /> <input type="hidden"
									th:value="${instaOrders.userid}" name="userid" /> <input
									type="hidden" th:value="${instaOrders.yearid}" name="yearid" />








								<div class="row px-0">
									
									
									<div class="col-md-1">
								<a type="button" data-toggle="collapse"
									data-target=".multi-collapse" aria-expanded="false"
									aria-controls="multiCollapseExample1 multiCollapseExample2">
									<img th:src="@{/img/clicklast.png}" style="width: 60px; height: 60px"
									alt="Click Me " />
								</a> 
							</div>
							<div class="col-md-11 pt-4 pl-2">
							<a type="button" data-toggle="collapse"
									data-target=".multi-collapse" aria-expanded="false"
									aria-controls="multiCollapseExample1 multiCollapseExample2">							
								<b>If Filled All Lab Session Before Mid Or After Mid</b></a> 
							</div>
								</div>

								<div class="row">
									<div class="col">
										<div class="collapse multi-collapse"
											id="multiCollapseExample1">
											<div class="card card-body">

												<div class="row   my-2 h-100 align-items-center">
													<div class="col-md-12">
														<div class="row">
															<label class="" for="inlineFormCustomSelectPref">
																<b>Name/Assistant's Name:</b>
															</label>
															<div class="col-md-6 px-1 mb-2"
																id="inlineFormCustomSelectPref"
																style="border-bottom: 1px solid currentColor;">

																<span th:text="${user.name}"></span>
															</div>
														</div>
														<div class="row">
															<label class="" for="inlineFormCustomSelectPref2"><b>Signature:</b></label>
															<div class="col-md-6 px-1 mb-2"
																id="inlineFormCustomSelectPref2"
																style="border-bottom: 1px solid currentColor;">
																<span><img class="img-fluid"
																	th:src="@{'/signatu/'+${user.imageUrl}}"
																	alt="Signature image Null"
																	style="width: 60%; height: 40px" /></span>
															</div>
														</div>
														<div class="row">
															<label class="" for="inlineFormCustomSelectPref2"><b>Date:</b></label>
															<div class="col-md-6 px-1 mb-2"
																id="inlineFormCustomSelectPref2"
																style="border-bottom: 1px solid currentColor;">

																<span
																	th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span>
															</div>
															(Filled)
														</div>
													</div>
												</div>



												<br> <br>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="collapse multi-collapse"
											id="multiCollapseExample2">
											<div class="card card-body">
												Next Step
												<div class="row">
													<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
														<div class="m-2 text-center">
															<!-- <label for="fmie" class="col-form-label">: </label> -->
															<select class="custom-select" required id="approvedby"
																name="approvedby">
																<option value="" selected disabled>---Select
																	Instructor's---</option>
																<option th:each="a : ${roleBothInsAndAssi}" th:value="${a.id}"
																	th:text="${a.name}"></option>
															</select>
														</div>
													</div>
												</div>

												<button class="btn btn-block btn-success btn-sm">Filled</button>
											</div>
										</div>
									</div>
								</div>







							</form>
						</div>
					</div>











				</div>





			</div>
		</div>


		<div class="modal fade" id="addLabModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel96" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel96">New Year</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<form th:action="@{/orderLab/addNewLab}" method="post">
						<div class="modal-body">

							<input id="id" name="orderid" type="hidden" value="" />
							<div class="form-group">
								<label for="week" class="col-form-label">Week:</label> <input
									type="number" class="form-control" id="week" name="week"
									required>
							</div>
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Lab
									Name:</label> <input type="text" class="form-control"
									id="recipient-name" name="lname" required>
							</div>
							<div class="form-group">
								<label for="rema" class="col-form-label">Remark:</label> <input
									type="text" class="form-control" id="rema" name="rema">
							</div>




						</div>
						<div class="modal-footer">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Save</button>
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- pass on to model id -->
		<script type="text/javascript">
			$("#addLabModal").modal("hide");

			function Values(ID) {
				$("#id").val(ID);
			}
		</script>

		<!-- for delet by id on cart -->
		<script>
       function deleteCartsLab(cid){
    	   swal({
    		   title: "Are you sure?",
    		   text: "Once deleted, you will not be able to recover this imaginary file!",
    		   icon: "warning",
    		   buttons: true,
    		   dangerMode: true,
    		 })
    		 .then((willDelete) => {
    		   if (willDelete) {
    		      window.location="/orderLab/deleteCartLab/"+cid;
    		   } else {
    		     swal("Your imaginary file is safe!");
    		   }
    		 });
       }
    </script>

		<!-- for signich for assista -->
		<script>
       function SigniLabForAssis(cid){
    	   swal({
    		   title: "Are you sure?",
    		   text: "Once Signed, you will not be able to recover this imaginary file!",
    		   icon: "warning",
    		   buttons: true,
    		   dangerMode: true,
    		 })
    		 .then((willDelete) => {
    		   if (willDelete) {
    		      window.location="/orderLab/SignaLabForAsssi/"+cid;
    		   } else {
    		     swal("Your imaginary file is safe!");
    		   }
    		 });
       }
    </script>

		<!-- for signich for Insta -->
		<script>
       function SigniLabForInsta(cid){
    	   swal({
    		   title: "Are you sure?",
    		   text: "Instructor Participated, you will not be able to recover this imaginary file!",
    		   icon: "warning",
    		   buttons: true,
    		   dangerMode: true,
    		 })
    		 .then((willDelete) => {
    		   if (willDelete) {
    		      window.location="/orderLab/SignaLabForInsta/"+cid;
    		   } else {
    		     swal("Your imaginary file is safe!");
    		   }
    		 });
       }
    </script>


		<!-- for signich for student -->
		<script>
       function SigniLabForStu(cid){
    	   swal({
    		   title: "Are you sure?",
    		   text: "Student/Section Representative's Participated, you will not be able to recover this imaginary file!",
    		   icon: "warning",
    		   buttons: true,
    		   dangerMode: true,
    		 })
    		 .then((willDelete) => {
    		   if (willDelete) {
    		      window.location="/orderLab/SignaLabForStu/"+cid;
    		   } else {
    		     swal("Your imaginary file is safe!");
    		   }
    		 });
       }
    </script>


	</section>


</body>
</html>